<html>
<head>
<base href="base_url">
</head>
<body>
<p align="center"><font size="9">html_title</font></p>
<p align="center">&nbsp;</p>
<p><img src="icons/attach.png"><b>&nbsp;&nbsp;html_views</b></p>
<ul>
  <li>&nbsp;<a href="student">html_student_view</a></li>
  <p>html_student_view_desc</p>
  <p><li>&nbsp;<a href="teacher">html_teacher_view</a></li>
   <p>html_teacher_view_desc<br></p></p>
  <p><li>&nbsp;<a href="jury">html_jury_view</a></li>
   <p>html_jury_view_desc<br></p></p>
</ul>
<p align="center">html_end_message</p>
</body>
</html>
